[Unit]
Description=Bybit Trading Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=C:\Users\willi\Documents\GitHub\Bybit-bot
Environment=PATH=C:\Users\willi\Documents\GitHub\Bybit-bot/.venv/bin
ExecStart=C:\Users\willi\Documents\GitHub\Bybit-bot/.venv/bin/python start_api.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
